/* CSS Document */
body { margin-left:0; margin-right:0; margin-top:0; margin-bottom:inherit;
		font-family:Verdana, Arial, Helvetica, sans-serif;}
		
.comingsoon { font-size:24px; white-space:nowrap}
.copytext { white-space:nowrap}


